.squareContainer {
  position: relative;
}

.square {
  width: 0.9vh;
  height: 0.9vh;
  border: 0.1px solid white;
  border-radius: 99px;
  list-style-type: none;
}

.squareMonth {
  width: 1.4vh;
  height: 1.4vh;
  border: 0.1px solid white;
  border-radius: 99px;
  list-style-type: none;
}

.squareYear {
  width: 7vh;
  height: 7vh;
  border: 0.1px solid white;
  border-radius: 99px;
  list-style-type: none;
}

.number {
  position: absolute;
  left: -1rem;
  bottom: -1vh;
  font-size: 8px;
}

@media only screen and (max-width: 720px) {
  .square {
    width: 0.4vh;
    height: 0.4vh;
  }
  .squareMonth {
    width: 1vh;
    height: 1vh;
  }
  .squareYear {
    width: 3vh;
    height: 3vh;
  }
}
